@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Roboto:wght@100&family=Zen+Kaku+Gothic+Antique&display=swap');
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #ECEFF1;
    /* background-color: #181818; */
    /* background: url(images/.jpg); */
    font-family: 'Montserrat', sans-serif;
}
#box {
    display: flex;
    width: 800px;
    border: none;
    margin: auto;
    margin-top: 50px;
    box-shadow: 5px 5px 10px black;
    border-radius: 10px;
}
.form {
    display: flex;
    flex-direction: column;
    border-radius: 10px 0 0 10px;
    width: 50%;
    align-items: center;
    /* background-color: #A2DBFA; */
    background-color: #373737;
}
.form h2 {
    font-size: 2.5rem;
    margin: 40px;
    /* color: black; */
    color: white;
    text-transform: uppercase;
}
.form-control {
    padding: 12px;
    width: 65%;
    margin: 15px;
    border: none;
    outline: none;
    border-radius: 20px;
    /* background-color: #F1F3F4; */
    background-color: #B8C1C6;
    
}
.form-control:focus {
    background-color: white;
    box-shadow: 0 5px 10px rgba(21,34,58,.13);
}
.submit-btn {
    padding: 12px 30px;
    width: 40%;
    margin-top: 40px;
    background-color: #32AEF2;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 20px;
}
.submit-btn:hover {
    cursor: pointer;
    background-color: #195aaf;
}
.form a {
    text-decoration: none;
    /* color: #4A616B; */
    color: #B8C1C6;
    margin-top: 20px;
    font-size: 14px;
}
.form a:hover {
    color: #1A73E8;
}

/* Right side */
.right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

}
.right-side img {
    width: 450px;
    border-radius: 0 10px 10px 0;
}
@media screen and (max-width: 820px) {
    #box {
        width: 400px;
    }
    .form {
        width: 100%;
        border-radius: 10px;
    }
    .right-side {
        width: 0;
    }
    .right-side img {
        display: none;
    }
}